.home-div{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.canva{
    grid-column: 2/2;
}

.main-title{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 4rem;
}

body {
  background: #222;
  min-height: 100vh;
  display: grid;
  place-items: center;
  color: white;
  font-family: sans-serif;
}

.glitch {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.05em 0 0 #00BFFF,
    -0.025em -0.05em 0 #8A2BE2,
    0.025em 0.05em 0 #FF00FF;

  animation: glitch 500ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

#fireflies-canvas{
  position: fixed;
}

@media (max-width:1000px) {
  .main-title{
    margin-top: 5rem;
    padding-top: 2rem;
  }
  .main-title, .canva{
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0  	#00BFFF,
      -0.05em -0.025em 0 #8A2BE2,
      -0.025em 0.05em 0  	#076aff;
  }
  14% {
    text-shadow: 0.05em 0 0 #00BFFF,
      -0.05em -0.025em 0 #8A2BE2,
      -0.025em 0.05em 0 #164dff;
  }
  15% {
    text-shadow: -0.05em -0.025em 0 #00BFFF,
      0.025em 0.025em 0 #8A2BE2,
      -0.05em -0.05em 0 #3609ff;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00BFFF,
      0.025em 0.025em 0 #8A2BE2,
      -0.05em -0.05em 0 #4c00ff;
  }
  50% {
    text-shadow: 0.025em 0.05em 0 #00BFFF,
      0.05em 0 0 #8A2BE2, 0 -0.05em 0 #0400ff;
  }
  99% {
    text-shadow: 0.025em 0.05em 0 #00BFFF,
      0.05em 0 0 #8A2BE2, 0 -0.05em 0 #0026ff;
  }
  100% {
    text-shadow: -0.025em 0 0 #00BFFF,
      -0.025em -0.025em 0 #8A2BE2,
      -0.025em -0.05em 0 #7700ff;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
