.nav-bar {
    position: fixed;
    /* !important Fixed positioning for preventing threejs element from mutating  */
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
    background-color: rgb(0, 0, 0);
}